.App{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0 100px;
      height: 100vh;
}

.filamentos{
      display: flex;
}

.filamentos{
      flex: 1;
      display: flex;
      gap: 10px;
      align-items: center;
}

img{
      width: 200px;
      height: 300px;
      object-fit: cover;
      background-color: rgb(206, 247, 241);
}

.deletar, .atualizar{
      border: none;
      padding: 3px 6px;
      background-color: white;
      cursor: pointer;
}

.form{
      display: flex;
      flex-direction: column;
      gap: 20px;
}

input{
      width: 250px;
      padding: 12px;
      border: 1px solid black;
}

.form-button{
      border: none;
      padding: 10px;
      background-color: lightcoral;
      color: white;
      font-weight: bold;
      cursor: pointer;
      width: 275px;
}